@import "src/colors";

.navbar {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $ghostWhite;
    height: 50px;
    width: 100vw;
    .menu {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
         
        .menuitem a {
            text-decoration: none;
            color: black;
            margin: 0 10px 0 10px;

        }
    }
}
